body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 255, 255);
    margin: 0;
    padding: 20px;
}

h1 {
    color: rgba(0, 0, 0, .7);
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

.book-details, .author-details, .library-details {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-details p, .author-details p, .library-details p {
    margin: 5px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}
