<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>本一覧</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/books.css') }}">
  </head>
  <body>
  <div class="container">
    <h1>本一覧</h1>

      <form method="POST" action="{{url_for('books_filtered')}}">
        タイトル: <input type="text" name="title_filter"><br>
        <input type="submit" value="絞り込む"><br>
        （ワイルドカード文字として%が使えます）
      </form>
      <form method="POST" action="{{url_for('genres_filtered')}}">
        ジャンル: <input type="text" name="genre_filter"><br>
        <input type="submit" value="絞り込む"><br>
        （ワイルドカード文字として%が使えます）
      </form>

    {% for book in e_list %}
    <div class="book-item">
      <p>
        BookID: {{book.bookID}}<br>
        タイトル: {{book.Title}}<br>
        出版年: {{book.Year}}年<br>
        ジャンル: {{book.Name}}(ジャンルID: {{book.GenreID}})<br>
        <a href="{{url_for('book', id=book.bookID)}}">詳細</a>
      </p>
    </div>
    {% endfor %}

    <a href="{{url_for('index')}}">図書館へようこそ</a>
  </div>
  </body>
</html>