<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>本貸し出し</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/book-add.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>本貸し出し</h1>

      <p>
        <form method="POST" action="{{url_for('borrow_add_execute')}}">
          ユーザー番号: <input type="text" name="user_id"><br>
          本番号: <input type="text" name="copy_id"><br>
          貸し出し日: <input type="text" name="borrow_time"><br>
          <input type="submit" value="追加">
        </form>
      </p>
      <p>
        <a href="{{url_for('index')}}">図書館へようこそ</a>
      </p>
    </div>
  </body>
</html>
