<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/users.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>ユーザー一覧</h1>

      <p>
        <form method="POST" action="{{url_for('users_filtered')}}">
          名前: <input type="text" name="user_filter"><br>
          <input type="submit" value="絞り込む"><br>
          （ワイルドカード文字として%が使えます）
        </form>
      </p>

      {% for user in e_list %}
      <div class="user-item">
        <p>UserID: {{user.userID}}</p>
        <p>名前: {{user.Name}}</p>
        <p>メールアドレス: {{user.Email}}</p>
        <p>電話番号: {{user.PhoneNumber}}</p>
        <p><a href="{{url_for('user', id=user.userID)}}">貸し出し履歴</a></p>
      </div>
      {% endfor %}

      <p>
        <a href="{{url_for('index')}}">図書館へようこそ</a>
      </p>
  </div>
  </body>
</html>